{% extends 'Python_App/index.html' %}

{% block body %}
{% load staticfiles %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-info alert-dismissable fade in" align="center" style="font-family:Century Gothic;">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <strong>Info!</strong> {{ message }}
</div>
{% endfor %}
{% endif %}
<div class="container" style="margin-top:5px;">
    <div class="row">
        {% if allow == True %}
        <div class="col-md-4" align="left">
            <button type="button" class="topButton btn btn-danger" data-toggle="modal" data-target="#myModal"><span
                    class="glyphicon glyphicon-plus"></span>&nbsp;Add
            </button>
        </div>
        <div class="col-md-4" align="center"></div>
        <div class="col-md-4" align="right">
            <button type="button" class="topButton btn btn-danger" data-toggle="modal" data-target="#myModal1"><span
                    class="glyphicon glyphicon-pencil"></span>&nbsp;Update/Remove
            </button>
        </div>
        {% endif %}
    </div>
</div>

<div class="container" style="font-family:Century Gothic;">
    <h3 style="color: red; ">No of results found: <strong>{{ Tot }}</strong></h3>
    {% for x in valueIS %}
    <a href="#" class="list-group-item" data-toggle="modal" data-target="#myModal3">
        <img src="{% static 'Images/Book_List.png' %}" style=" width: 100px; height : 100px">
        <h3 style="color: red" class="list-group-item-heading" id="valueName">{{ x.Name }}</h3>
        <p class="list-group-item-text">Author : {{ x.Author }}</p>
        <p class="list-group-item-text">Publication : {{ x.Publication }}</p>

        <p class="list-group-item-text">About : The more that you read, the more things you will know. The more that you
            learn, the more places you’ll go. The world of books is the most remarkable creation of man. Nothing else
            that he builds ever lasts. Monuments fall; nations perish; civilizations grow old and die out; and, after an
            era of darkness, new races build others. But in the world of books are volumes that have seen this happen
            again and again, and yet live on, still young, still as fresh as the day they were written, still telling
            men’s hearts of the hearts of men centuries dead.</p>
    </a>
    {% endfor %}
</div>
<div class="modal fade" id="myModal3" role="dialog" style="font-family:Century Gothic">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Book Library</h4>
            </div>
            <div class="modal-body">
                <p>OOPS!! Book Preview is not available</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal" role="dialog" style="font-family:Century Gothic;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title"><b>Adding a Book</b></p>
            </div>
            <form action="/Python_App/AddBook/" method="POST">
                {% csrf_token %}
                <div class="modal-body">
                    <label>Book Name</label>&nbsp;<input type="text" name="bookName" required>
                    <label>Author</label>&nbsp;<input type="text" name="author" required><br/><br/>
                    <label>Publication</label>&nbsp;&nbsp;<input type="text" name="publication" required>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-info">Add</button>
                    <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="modal fade" id="myModal1" role="dialog" style="font-family:Century Gothic;">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content ">
            <div class="modal-header">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a data-toggle="tab" href="#menu1"><b>Updating a Book</b></a>
                    </li>
                    <li>
                        <a data-toggle="tab" href="#menu2"><b>Removing a Book</b></a>
                    </li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane fade in active " id="menu1">
                    <form action="/Python_App/UpdateBook/" method="POST">
                        {% csrf_token %}
                        <div class="modal-body">
                            <label>Choose Book to be updated </label>
                            <select name="bookNameOld" style="width:310px; height:28px">
                                {% for option in valueIS %}
                                <option value="{{ option.Name }}">{{ option.Name }}</option>
                                {% endfor %}
                            </select><br/><br/>
                            <label>New Book Name</label>&nbsp;<input type="text" name="bookName" required>
                            <label>New Author</label>&nbsp;<input type="text" name="author" required><br/><br/>
                            <label>New Publication</label>&nbsp;&nbsp;<input type="text" name="publication" required>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-primary">Update</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
                <div class=" tab-pane fade" id="menu2">
                    <form action="/Python_App/RemoveBook/" method="POST">
                        {% csrf_token %}
                        <div class="modal-body" align="center">
                            <label>Book Name</label>
                            <select name="bookName" style="width:350px; height:28px">
                                {% for option in valueIS %}
                                <option value="{{ option.Name }}">{{ option.Name }}</option>
                                {% endfor %}
                            </select><br/><br/>
                            <label>Author</label>&nbsp;<input type="text" name="author" required>
                            <label>Publication</label>&nbsp;&nbsp;<input type="text" name="publication" required>
                        </div>
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-danger">Remove</button>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}