<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <title>MPA</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="{% static 'Images/logo23.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/See_My.css' %}">
    <link rel="stylesheet" href="{% static 'js/gradientBG.js' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body>

<nav class="navbar navbar-inverse" style="background-color:#04bcef;font-family:Century Gothic;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand navbar-btn" href="#" style="color:white">Multi purpose App</a>
        </div>
        <ul class="nav navbar-nav">
            <li ><a href="/Python_App/" class="glyphicon glyphicon-home navbar-btn" style="color:white" data-toggle="tooltip" data-placement="bottom" title="Home"></a></li>
            <li><a href="/Python_App/BookSearch/" class="glyphicon glyphicon-book navbar-btn" style="color:white" data-toggle="tooltip" data-placement="bottom" title="Book Library"></a></li>
            <li><a href="/Python_App/weather/" class="glyphicon glyphicon-cloud navbar-btn" style="color:white" data-toggle="tooltip" data-placement="bottom" title="Weather Report"></a></li>
            <li><a href="/Python_App/task/" class="glyphicon glyphicon-tasks navbar-btn" style="color:white" data-toggle="tooltip" data-placement="bottom" title="Task Assigner"></a></li>
        </ul>
        {% block allow %}
        {% if allow == False %}
        <ul class="nav navbar-nav navbar-right navbar-btn">
            <li><a href="/Python_App/login/" style="color:white"><span class="glyphicon glyphicon-log-in" ></span> Login</a></li>
        </ul>
        {% endif %}
        {% if allow == True %}
        <ul class="nav navbar-nav navbar-right navbar-btn">
            <li><a href="/Python_App/logout/" style="color:white"><span class="glyphicon glyphicon-log-out" ></span> Logout</a></li>
        </ul>
        {% endif %}
        <ul class="nav navbar-nav navbar-right navbar-btn">
            <li><a style="color:white;">{{ current_user }}</a></li>
        </ul>
        {% endblock %}
    </div>
</nav>
{% block body %}
{% endblock %}
</body>
</html>
