{% extends 'Python_App/index.html' %}

{% block body %}
{% load staticfiles %}
    <style>
    body {
        background-image: url({% static 'Images/books3.jpg' %});
        background-size: cover;
        background-repeat: no-repeat;
    }
    </style>

<div>
    <div class="col-md-4"></div>
    <div class="col-md-4"><h1 style="font-family:Century Gothic; color:red" align="center">Search for Books!</h1></div>
    {% block uId %}
    <div class="col-md-4" align="right"><h4 style="font-family:Century Gothic; color:red">Hello, <strong>{{ uId }}</strong></h4></div>
    {% endblock %}
</div>
<form action="/Python_App/BookDetails/" method="POST" class=" form-horizontal">
    {% csrf_token %}
    <div class="container">
        <div class="container form-group" style="font-family:Century Gothic; color:red">
            <div class="col-md-4">

            </div>
            <div class="col-md-4" style="background:white">
                <label class="control-label"><h3>Search by <strong>Name </strong></h3></label>
                <input type="text" name="book" class="form-control">
                <label class="control-label"><h3>Search by <strong>Author </strong></h3></label>
                <input type="text" name="author" class="form-control">
                <label class="control-label"><h3>Search by <strong>Publication </strong></h3></label>
                <input type="text" name="pub" class="form-control"><br/>
                {% for a in userDetails %}
                <input type="hidden" name="LoggedUser" value="{{ a.User_Name }}">
                <input type="hidden" name="Role" value="{{ a.Role }}">
                {% endfor %}
                <button type="submit" class="btn btn-danger" style="width:250px; height:50px; font-size:25px"><span
                        class="glyphicon glyphicon-search"></span>&nbsp;Search
                </button>
                <br/><br/>
            </div>
            <div class="col-md-4">

            </div>
        </div>
    </div>
</form>
{% endblock %}